-
  var values = [
     {
       num: 1,
       bank: "Bank of the Ozarks",
       totalComplaints: 1,
       allComplaints: 0.00029,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 0,
       accountComplaintRank: 104,
       mortageComplaints: 0,
       mortageRank: 77,
       complaintAssets: 0.0000498,
       totalAssets: 20069
     },
     {
       num: 2,
       bank: "CIBC Bank USA",
       totalComplaints: 14,
       allComplaints: 0.00384,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 6,
       accountComplaintRank: 100,
       mortageComplaints: 8,
       mortageRank: 74,
       complaintAssets: 0.0006282535,
       totalAssets: 22284
     },
     {
       num: 3,
       bank: "Cathay Bank",
       totalComplaints: 13,
       allComplaints: 0.00356,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 8,
       accountComplaintRank: 99,
       mortageComplaints: 5,
       mortageRank: 76,
       complaintAssets: 0.0009329697,
       totalAssets: 14306
     },
     {
       num: 4,
       bank: "First Republic Bank",
       totalComplaints: 51,
       allComplaints: 0.01398,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 34,
       accountComplaintRank: 85,
       mortageComplaints: 15,
       mortageRank: 71,
       complaintAssets: 0.0006298007,
       totalAssets: 80978
     },
     {
       num: 5,
       bank: "City National Bank",
       totalComplaints: 46,
       allComplaints: 0.01261,
       ccComplaints: 2,
       ccRank: 67,
       accountComplaints: 31,
       accountComplaintRank: 87,
       mortageComplaints: 13,
       mortageRank: 68,
       complaintAssets: 0.000995434,
       totalAssets: 46211
     },
     {
       num: 6,
       bank: "Deutsche Bank",
       totalComplaints: 49,
       allComplaints: 0.01343,
       ccComplaints: 3,
       ccRank: 64,
       accountComplaints: 15,
       accountComplaintRank: 92,
       mortageComplaints: 26,
       mortageRank: 67,
       complaintAssets: 0.0011087227,
       totalAssets: 44195
     },
     {
       num: 7,
       bank: "UBS Bank USA",
       totalComplaints: 55,
       allComplaints: 0.01508,
       ccComplaints: 7,
       ccRank: 60,
       accountComplaints: 37,
       accountComplaintRank: 82,
       mortageComplaints: 11,
       mortageRank: 69,
       complaintAssets: 0.0010413314,
       totalAssets: 52817
     },
     {
       num: 8,
       bank: "Chemical Financial Corporation",
       totalComplaints: 34,
       allComplaints: 0.00932,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 9,
       accountComplaintRank: 98,
       mortageComplaints: 24,
       mortageRank: 65,
       complaintAssets: 0.0018152696,
       totalAssets: 18730
     },
     {
       num: 9,
       bank: "Frost Bank",
       totalComplaints: 48,
       allComplaints: 0.01316,
       ccComplaints: 1,
       ccRank: 68,
       accountComplaints: 44,
       accountComplaintRank: 75,
       mortageComplaints: 3,
       mortageRank: 75,
       complaintAssets: 0.0015879843,
       totalAssets: 30227
     },
     {
       num: 10,
       bank: "Prosperity Bancshares, INC.",
       totalComplaints: 45,
       allComplaints: 0.01233,
       ccComplaints: 2,
       ccRank: 63,
       accountComplaints: 36,
       accountComplaintRank: 84,
       mortageComplaints: 4,
       mortageRank: 72,
       complaintAssets: 0.0020192049,
       totalAssets: 22286
     },
     {
       num: 11,
       bank: "First Midwest Bank",
       totalComplaints: 36,
       allComplaints: 0.00987,
       ccComplaints: 2,
       ccRank: 59,
       accountComplaints: 29,
       accountComplaintRank: 88,
       mortageComplaints: 4,
       mortageRank: 70,
       complaintAssets: 0.0026130507,
       totalAssets: 13777
     },
     {
       num: 12,
       bank: "Apple Financial Holdings, INC.",
       totalComplaints: 50,
       allComplaints: 0.01371,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 48,
       accountComplaintRank: 73,
       mortageComplaints: 2,
       mortageRank: 73,
       complaintAssets: 0.0038883272,
       totalAssets: 12859
     },
     {
       num: 13,
       bank: "East West Bank",
       totalComplaints: 86,
       allComplaints: 0.02357,
       ccComplaints: 2,
       ccRank: 66,
       accountComplaints: 55,
       accountComplaintRank: 69,
       mortageComplaints: 25,
       mortageRank: 62,
       complaintAssets: 0.0025276276,
       totalAssets: 35887
     },
     {
       num: 14,
       bank: "Old National Bank",
       totalComplaints: 59,
       allComplaints: 0.01617,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 42,
       accountComplaintRank: 76,
       mortageComplaints: 11,
       mortageRank: 64,
       complaintAssets: 0.0039695889,
       totalAssets: 14863
     },
     {
       num: 15,
       bank: "MB Financial, INC.",
       totalComplaints: 69,
       allComplaints: 0.01891,
       ccComplaints: 3,
       ccRank: 57,
       accountComplaints: 24,
       accountComplaintRank: 90,
       mortageComplaints: 39,
       mortageRank: 58,
       complaintAssets: 0.0034718728,
       totalAssets: 19881
     },
     {
       num: 16,
       bank: "First Hawaiian, INC.",
       totalComplaints: 74,
       allComplaints: 0.02028,
       ccComplaints: 10,
       ccRank: 45,
       accountComplaints: 42,
       accountComplaintRank: 76,
       mortageComplaints: 10,
       mortageRank: 66,
       complaintAssets: 0.0037954557,
       totalAssets: 20357
     },
     {
       num: 17,
       bank: "Trustmark Corporation",
       totalComplaints: 77,
       allComplaints: 0.02111,
       ccComplaints: 3,
       ccRank: 52,
       accountComplaints: 39,
       accountComplaintRank: 81,
       mortageComplaints: 33,
       mortageRank: 56,
       complaintAssets: 0.00553678,
       totalAssets: 13907
     },
     {
       num: 18,
       bank: "FIRSTBank",
       totalComplaints: 89,
       allComplaints: 0.0244,
       ccComplaints: 4,
       ccRank: 50,
       accountComplaints: 71,
       accountComplaintRank: 62,
       mortageComplaints: 13,
       mortageRank: 61,
       complaintAssets: 0.0051519537,
       totalAssets: 17275
     },
     {
       num: 19,
       bank: "Bank OF Hawaii Corporation",
       totalComplaints: 91,
       allComplaints: 0.02494,
       ccComplaints: 4,
       ccRank: 49,
       accountComplaints: 73,
       accountComplaintRank: 61,
       mortageComplaints: 8,
       mortageRank: 63,
       complaintAssets: 0.0055295619,
       totalAssets: 16954
     },
     {
       num: 20,
       bank: "RABOBank, National Association",
       totalComplaints: 89,
       allComplaints: 0.0244,
       ccComplaints: 2,
       ccRank: 58,
       accountComplaints: 61,
       accountComplaintRank: 66,
       mortageComplaints: 22,
       mortageRank: 57,
       complaintAssets: 0.0065153734,
       totalAssets: 13660
     },
     {
       num: 21,
       bank: "Washington Federal, National Association",
       totalComplaints: 110,
       allComplaints: 0.03015,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 49,
       accountComplaintRank: 71,
       mortageComplaints: 60,
       mortageRank: 50,
       complaintAssets: 0.0072920119,
       totalAssets: 15085
     },
     {
       num: 22,
       bank: "IBERIABank",
       totalComplaints: 135,
       allComplaints: 0.037,
       ccComplaints: 14,
       ccRank: 38,
       accountComplaints: 63,
       accountComplaintRank: 64,
       mortageComplaints: 52,
       mortageRank: 54,
       complaintAssets: 0.0062171871,
       totalAssets: 21714
     },
     {
       num: 23,
       bank: "UMB Bank, National Association",
       totalComplaints: 135,
       allComplaints: 0.037,
       ccComplaints: 34,
       ccRank: 26,
       accountComplaints: 89,
       accountComplaintRank: 55,
       mortageComplaints: 11,
       mortageRank: 60,
       complaintAssets: 0.0067227728,
       totalAssets: 20081
     },
     {
       num: 24,
       bank: "Bancorpsouth Bank",
       totalComplaints: 122,
       allComplaints: 0.03344,
       ccComplaints: 8,
       ccRank: 44,
       accountComplaints: 65,
       accountComplaintRank: 63,
       mortageComplaints: 41,
       mortageRank: 53,
       complaintAssets: 0.0082160415,
       totalAssets: 14849
     },
     {
       num: 25,
       bank: "UMPQUA Holdings Corporation",
       totalComplaints: 161,
       allComplaints: 0.04413,
       ccComplaints: 3,
       ccRank: 61,
       accountComplaints: 76,
       accountComplaintRank: 60,
       mortageComplaints: 68,
       mortageRank: 51,
       complaintAssets: 0.0063838224,
       totalAssets: 25220
     },
     {
       num: 26,
       bank: "Whitney Bank - New Orleans Main Branch",
       totalComplaints: 178,
       allComplaints: 0.04879,
       ccComplaints: 6,
       ccRank: 51,
       accountComplaints: 89,
       accountComplaintRank: 55,
       mortageComplaints: 75,
       mortageRank: 47,
       complaintAssets: 0.0067068576,
       totalAssets: 26540
     },
     {
       num: 27,
       bank: "First national Bank OF Pennsylvania",
       totalComplaints: 197,
       allComplaints: 0.054,
       ccComplaints: 3,
       ccRank: 62,
       accountComplaints: 136,
       accountComplaintRank: 49,
       mortageComplaints: 38,
       mortageRank: 55,
       complaintAssets: 0.0064461241,
       totalAssets: 30561
     },
     {
       num: 28,
       bank: "ZIONS BANCORPORATION",
       totalComplaints: 305,
       allComplaints: 0.0836,
       ccComplaints: 22,
       ccRank: 47,
       accountComplaints: 183,
       accountComplaintRank: 40,
       mortageComplaints: 83,
       mortageRank: 52,
       complaintAssets: 0.0046723961,
       totalAssets: 65277
     },
     {
       num: 29,
       bank: "Third Federal Savings & Loan Association of Cleveland",
       totalComplaints: 145,
       allComplaints: 0.03974,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 17,
       accountComplaintRank: 91,
       mortageComplaints: 124,
       mortageRank: 34,
       complaintAssets: 0.0116643874,
       totalAssets: 12431
     },
     {
       num: 30,
       bank: "BankUNITED, National Association",
       totalComplaints: 225,
       allComplaints: 0.06167,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 49,
       accountComplaintRank: 71,
       mortageComplaints: 171,
       mortageRank: 36,
       complaintAssets: 0.0077827741,
       totalAssets: 28910
     },
     {
       num: 31,
       bank: "Valley National BANCORP",
       totalComplaints: 203,
       allComplaints: 0.05564,
       ccComplaints: 0,
       ccRank: 69,
       accountComplaints: 104,
       accountComplaintRank: 54,
       mortageComplaints: 77,
       mortageRank: 45,
       complaintAssets: 0.0086700265,
       totalAssets: 23414
     },
     {
       num: 32,
       bank: "Associated Bank, National Association",
       totalComplaints: 248,
       allComplaints: 0.06798,
       ccComplaints: 5,
       ccRank: 55,
       accountComplaints: 145,
       accountComplaintRank: 45,
       mortageComplaints: 92,
       mortageRank: 44,
       complaintAssets: 0.008349325,
       totalAssets: 29703
     },
     {
       num: 33,
       bank: "First Citizens Bancshares, INC.",
       totalComplaints: 268,
       allComplaints: 0.07346,
       ccComplaints: 21,
       ccRank: 40,
       accountComplaints: 167,
       accountComplaintRank: 42,
       mortageComplaints: 63,
       mortageRank: 48,
       complaintAssets: 0.0077458886,
       totalAssets: 34599
     },
     {
       num: 34,
       bank: "Commerce Bank",
       totalComplaints: 240,
       allComplaints: 0.06578,
       ccComplaints: 59,
       ccRank: 21,
       accountComplaints: 143,
       accountComplaintRank: 46,
       mortageComplaints: 14,
       mortageRank: 59,
       complaintAssets: 0.0096115338,
       totalAssets: 24970
     },
     {
       num: 35,
       bank: "Sterling",
       totalComplaints: 193,
       allComplaints: 0.0529,
       ccComplaints: 165,
       ccRank: 9,
       accountComplaints: 3,
       accountComplaintRank: 102,
       mortageComplaints: 0,
       mortageRank: 77,
       complaintAssets: 0.0125773868,
       totalAssets: 15345
     },
     {
       num: 36,
       bank: "People's United Bank, National Association",
       totalComplaints: 345,
       allComplaints: 0.09457,
       ccComplaints: 12,
       ccRank: 48,
       accountComplaints: 262,
       accountComplaintRank: 34,
       mortageComplaints: 59,
       mortageRank: 49,
       complaintAssets: 0.0080784901,
       totalAssets: 42706
     },
     {
       num: 37,
       bank: "MUFG Union Bank, National Association",
       totalComplaints: 571,
       allComplaints: 0.15651,
       ccComplaints: 21,
       ccRank: 54,
       accountComplaints: 419,
       accountComplaintRank: 31,
       mortageComplaints: 118,
       mortageRank: 46,
       complaintAssets: 0.0048991429,
       totalAssets: 116715
     },
     {
       num: 38,
       bank: "BOK Financial CORP",
       totalComplaints: 330,
       allComplaints: 0.09045,
       ccComplaints: 6,
       ccRank: 53,
       accountComplaints: 141,
       accountComplaintRank: 47,
       mortageComplaints: 173,
       mortageRank: 33,
       complaintAssets: 0.010210712,
       totalAssets: 32319
     },
     {
       num: 39,
       bank: "Synovus Bank",
       totalComplaints: 374,
       allComplaints: 0.10251,
       ccComplaints: 184,
       ccRank: 12,
       accountComplaints: 112,
       accountComplaintRank: 52,
       mortageComplaints: 71,
       mortageRank: 41,
       complaintAssets: 0.0122486409,
       totalAssets: 30534
     },
     {
       num: 40,
       bank: "Webster Bank, National Association",
       totalComplaints: 352,
       allComplaints: 0.09648,
       ccComplaints: 11,
       ccRank: 46,
       accountComplaints: 267,
       accountComplaintRank: 33,
       mortageComplaints: 70,
       mortageRank: 40,
       complaintAssets: 0.0134515439,
       totalAssets: 26168
     },
     {
       num: 41,
       bank: "First Tennessee Bank National Association",
       totalComplaints: 380,
       allComplaints: 0.10416,
       ccComplaints: 19,
       ccRank: 37,
       accountComplaints: 152,
       accountComplaintRank: 43,
       mortageComplaints: 203,
       mortageRank: 31,
       complaintAssets: 0.0130239572,
       totalAssets: 29177
     },
     {
       num: 42,
       bank: "Inverstors Bank",
       totalComplaints: 84,
       allComplaints: 0.02302,
       ccComplaints: 1,
       ccRank: 33,
       accountComplaints: 40,
       accountComplaintRank: 80,
       mortageComplaints: 42,
       mortageRank: 30,
       complaintAssets: 0.0656763096,
       totalAssets: 1279
     },
     {
       num: 43,
       bank: "Bank of the West",
       totalComplaints: 793,
       allComplaints: 0.21736,
       ccComplaints: 50,
       ccRank: 42,
       accountComplaints: 494,
       accountComplaintRank: 28,
       mortageComplaints: 129,
       mortageRank: 38,
       complaintAssets: 0.0091242766,
       totalAssets: 86911
     },
     {
       num: 44,
       bank: "State Farm Bank, FSB",
       totalComplaints: 396,
       allComplaints: 0.10854,
       ccComplaints: 126,
       ccRank: 11,
       accountComplaints: 88,
       accountComplaintRank: 57,
       mortageComplaints: 95,
       mortageRank: 32,
       complaintAssets: 0.0235981169,
       totalAssets: 16781
     },
     {
       num: 45,
       bank: "BMO Harris Bank National Association",
       totalComplaints: 1037,
       allComplaints: 0.28424,
       ccComplaints: 104,
       ccRank: 31,
       accountComplaints: 434,
       accountComplaintRank: 30,
       mortageComplaints: 405,
       mortageRank: 28,
       complaintAssets: 0.0097653307,
       totalAssets: 106192
     },
     {
       num: 46,
       bank: "Comerica",
       totalComplaints: 1070,
       allComplaints: 0.29329,
       ccComplaints: 190,
       ccRank: 19,
       accountComplaints: 817,
       accountComplaintRank: 25,
       mortageComplaints: 54,
       mortageRank: 42,
       complaintAssets: 0.0150878479,
       totalAssets: 71552
     },
     {
       num: 47,
       bank: "Arvest Bank Group, INC.",
       totalComplaints: 531,
       allComplaints: 0.14555,
       ccComplaints: 10,
       ccRank: 41,
       accountComplaints: 131,
       accountComplaintRank: 50,
       mortageComplaints: 373,
       mortageRank: 23,
       complaintAssets: 0.0306971904,
       totalAssets: 17298
     },
     {
       num: 48,
       bank: "Banco Popular North America",
       totalComplaints: 392,
       allComplaints: 0.10745,
       ccComplaints: 18,
       ccRank: 24,
       accountComplaints: 199,
       accountComplaintRank: 36,
       mortageComplaints: 81,
       mortageRank: 29,
       complaintAssets: 0.0436817473,
       totalAssets: 8974
     },
     {
       num: 49,
       bank: "Huntington National Bank, THE",
       totalComplaints: 1873,
       allComplaints: 0.514371,
       ccComplaints: 72,
       ccRank: 35,
       accountComplaints: 1141,
       accountComplaintRank: 22,
       mortageComplaints: 451,
       mortageRank: 24,
       complaintAssets: 0.0184932859,
       totalAssets: 101280
     },
     {
       num: 50,
       bank: "First National Bank of Omaha",
       totalComplaints: 780,
       allComplaints: 0.2138,
       ccComplaints: 612,
       ccRank: 7,
       accountComplaints: 109,
       accountComplaintRank: 53,
       mortageComplaints: 36,
       mortageRank: 35,
       complaintAssets: 0.039963111,
       totalAssets: 19518
     },
     {
       num: 51,
       bank: "BBVA Compass Financial Corporation",
       totalComplaints: 1758,
       allComplaints: 0.48187,
       ccComplaints: 190,
       ccRank: 22,
       accountComplaints: 1139,
       accountComplaintRank: 17,
       mortageComplaints: 313,
       mortageRank: 26,
       complaintAssets: 0.0209417847,
       totalAssets: 83947
     },
     {
       num: 52,
       bank: "KEYCORP",
       totalComplaints: 2265,
       allComplaints: 0.62084,
       ccComplaints: 151,
       ccRank: 30,
       accountComplaints: 1100,
       accountComplaintRank: 18,
       mortageComplaints: 427,
       mortageRank: 25,
       complaintAssets: 0.016966165,
       totalAssets: 133555
     },
     {
       num: 53,
       bank: "New York Community Bank",
       totalComplaints: 427,
       allComplaints: 0.11704,
       ccComplaints: 3,
       ccRank: 32,
       accountComplaints: 185,
       accountComplaintRank: 38,
       mortageComplaints: 235,
       mortageRank: 16,
       complaintAssets: 0.1186440678,
       totalAssets: 3599
     },
     {
       num: 54,
       bank: "BB&T Corporation",
       totalComplaints: 3461,
       allComplaints: 0.94867,
       ccComplaints: 151,
       ccRank: 36,
       accountComplaints: 1835,
       accountComplaintRank: 12,
       mortageComplaints: 1033,
       mortageRank: 19,
       complaintAssets: 0.016092884,
       totalAssets: 215274
     },
     {
       num: 55,
       bank: "Regions Financial Corporation",
       totalComplaints: 2919,
       allComplaints: 0.80011,
       ccComplaints: 221,
       ccRank: 25,
       accountComplaints: 2011,
       accountComplaintRank: 11,
       mortageComplaints: 557,
       mortageRank: 21,
       complaintAssets: 0.0235943613,
       totalAssets: 123716
     },
     {
       num: 56,
       bank: "Alliance Data Card Services (Comenity)",
       totalComplaints: 981,
       allComplaints: 0.26889,
       ccComplaints: 888,
       ccRank: 4,
       accountComplaints: 54,
       accountComplaintRank: 70,
       mortageComplaints: 0,
       mortageRank: 77,
       complaintAssets: 0.0843798383,
       totalAssets: 11626
     },
     {
       num: 57,
       bank: "TCF National Bank",
       totalComplaints: 1343,
       allComplaints: 0.36812,
       ccComplaints: 14,
       ccRank: 39,
       accountComplaints: 973,
       accountComplaintRank: 21,
       mortageComplaints: 231,
       mortageRank: 20,
       complaintAssets: 0.0617272602,
       totalAssets: 22070
     },
     {
       num: 58,
       bank: "Ally Financial INC.",
       totalComplaints: 3238,
       allComplaints: 0.88754,
       ccComplaints: 20,
       ccRank: 56,
       accountComplaints: 847,
       accountComplaintRank: 23,
       mortageComplaints: 50,
       mortageRank: 37,
       complaintAssets: 0.025697393,
       totalAssets: 126005
     },
     {
       num: 59,
       bank: "United Services Automobile Association",
       totalComplaints: 3479,
       allComplaints: 0.9536,
       ccComplaints: 1061,
       ccRank: 10,
       accountComplaints: 1632,
       accountComplaintRank: 14,
       mortageComplaints: 491,
       mortageRank: 22,
       complaintAssets: 0.0253800811,
       totalAssets: 137076
     },
     {
       num: 60,
       bank: "M&T Bank Corporation",
       totalComplaints: 3293,
       allComplaints: 0.90262,
       ccComplaints: 65,
       ccRank: 43,
       accountComplaints: 1098,
       accountComplaintRank: 19,
       mortageComplaints: 1975,
       mortageRank: 12,
       complaintAssets: 0.0273600425,
       totalAssets: 120358
     },
     {
       num: 61,
       bank: "Fifth Third Financial Corporation",
       totalComplaints: 3736,
       allComplaints: 1.02405,
       ccComplaints: 435,
       ccRank: 18,
       accountComplaints: 1642,
       accountComplaintRank: 13,
       mortageComplaints: 1246,
       mortageRank: 15,
       complaintAssets: 0.0270141289,
       totalAssets: 138698
     },
     {
       num: 62,
       bank: "TD Bank US Holding Company",
       totalComplaints: 6041,
       allComplaints: 1.65585,
       ccComplaints: 1462,
       ccRank: 15,
       accountComplaints: 3293,
       accountComplaintRank: 7,
       mortageComplaints: 819,
       mortageRank: 18,
       complaintAssets: 0.0225254955,
       totalAssets: 268185
     },
     {
       num: 63,
       bank: "Citizens Financial Group, INC.",
       totalComplaints: 4223,
       allComplaints: 1.15753,
       ccComplaints: 252,
       ccRank: 23,
       accountComplaints: 2204,
       accountComplaintRank: 10,
       mortageComplaints: 1331,
       mortageRank: 14,
       complaintAssets: 0.0351512427,
       totalAssets: 120138
     },
     {
       num: 64,
       bank: "Suntrust Banks, INC.",
       totalComplaints: 6503,
       allComplaints: 1.78249,
       ccComplaints: 254,
       ccRank: 29,
       accountComplaints: 2832,
       accountComplaintRank: 8,
       mortageComplaints: 3066,
       mortageRank: 10,
       complaintAssets: 0.0321165937,
       totalAssets: 202481
     },
     {
       num: 65,
       bank: "HSBC North America Holdings INC.",
       totalComplaints: 6292,
       allComplaints: 1.72465,
       ccComplaints: 687,
       ccRank: 17,
       accountComplaints: 1069,
       accountComplaintRank: 20,
       mortageComplaints: 4329,
       mortageRank: 7,
       complaintAssets: 0.033332627,
       totalAssets: 191932
     },
     {
       num: 66,
       bank: "PNC Bank N.A.",
       totalComplaints: 8986,
       allComplaints: 2.46309,
       ccComplaints: 543,
       ccRank: 28,
       accountComplaints: 3782,
       accountComplaintRank: 6,
       mortageComplaints: 4210,
       mortageRank: 9,
       complaintAssets: 0.0251501565,
       totalAssets: 361211
     },
     {
       num: 67,
       bank: "Flagstar Bank, FSB",
       totalComplaints: 1947,
       allComplaints: 0.53368,
       ccComplaints: 1,
       ccRank: 65,
       accountComplaints: 88,
       accountComplaintRank: 57,
       mortageComplaints: 1855,
       mortageRank: 6,
       complaintAssets: 0.122529893,
       totalAssets: 15890
     },
     {
       num: 68,
       bank: "U.S. BANCORP",
       totalComplaints: 12315,
       allComplaints: 3.37557,
       ccComplaints: 2750,
       ccRank: 13,
       accountComplaints: 4039,
       accountComplaintRank: 5,
       mortageComplaints: 4798,
       mortageRank: 8,
       complaintAssets: 0.0274475454,
       totalAssets: 456910
     },
     {
       num: 69,
       bank: "Santander Bank, National Association",
       totalComplaints: 5440,
       allComplaints: 1.49112,
       ccComplaints: 127,
       ccRank: 27,
       accountComplaints: 1607,
       accountComplaintRank: 15,
       mortageComplaints: 715,
       mortageRank: 13,
       complaintAssets: 0.0685475233,
       totalAssets: 79375
     },
     {
       num: 70,
       bank: "Discover Bank",
       totalComplaints: 6272,
       allComplaints: 1.71917,
       ccComplaints: 4649,
       ccRank: 5,
       accountComplaints: 527,
       accountComplaintRank: 27,
       mortageComplaints: 76,
       mortageRank: 27,
       complaintAssets: 0.0677438866,
       totalAssets: 92584
     },
     {
       num: 71,
       bank: "Barclays Bank Delaware",
       totalComplaints: 4129,
       allComplaints: 1.13177,
       ccComplaints: 3960,
       ccRank: 1,
       accountComplaints: 140,
       accountComplaintRank: 48,
       mortageComplaints: 8,
       mortageRank: 39,
       complaintAssets: 0.1340062313,
       totalAssets: 30812
     },
     {
       num: 72,
       bank: "American Express Company",
       totalComplaints: 7937,
       allComplaints: 2.17555,
       ccComplaints: 7441,
       ccRank: 2,
       accountComplaints: 472,
       accountComplaintRank: 29,
       mortageComplaints: 6,
       mortageRank: 43,
       complaintAssets: 0.1347767023,
       totalAssets: 58890
     },
     {
       num: 73,
       bank: "JPMorgan Chase & CO.",
       totalComplaints: 43478,
       allComplaints: 11.91743,
       ccComplaints: 11488,
       ccRank: 16,
       accountComplaints: 10946,
       accountComplaintRank: 3,
       mortageComplaints: 19089,
       mortageRank: 4,
       complaintAssets: 0.0266426292,
       totalAssets: 2152006
     },
     {
       num: 74,
       bank: "Capital One Financial Corporation",
       totalComplaints: 19105,
       allComplaints: 5.23673,
       ccComplaints: 14029,
       ccRank: 6,
       accountComplaints: 2691,
       accountComplaintRank: 9,
       mortageComplaints: 1064,
       mortageRank: 11,
       complaintAssets: 0.0681922017,
       totalAssets: 280232
     },
     {
       num: 75,
       bank: "CITIBank, N.A.",
       totalComplaints: 33503,
       allComplaints: 9.18326,
       ccComplaints: 18219,
       ccRank: 8,
       accountComplaints: 4766,
       accountComplaintRank: 4,
       mortageComplaints: 9088,
       mortageRank: 5,
       complaintAssets: 0.0393684225,
       totalAssets: 1401303
     },
     {
       num: 76,
       bank: "Synchrony Financial",
       totalComplaints: 11311,
       allComplaints: 3.10037,
       ccComplaints: 9569,
       ccRank: 3,
       accountComplaints: 779,
       accountComplaintRank: 26,
       mortageComplaints: 204,
       mortageRank: 17,
       complaintAssets: 0.1253893822,
       totalAssets: 90207
     },
     {
       num: 77,
       bank: "Wells Fargo & Company",
       totalComplaints: 55193,
       allComplaints: 15.12854,
       ccComplaints: 4466,
       ccRank: 20,
       accountComplaints: 14415,
       accountComplaintRank: 2,
       mortageComplaints: 32112,
       mortageRank: 3,
       complaintAssets: 0.0329855861,
       totalAssets: 1731937
     },
     {
       num: 78,
       bank: "Bank of America, National Association",
       totalComplaints: 66823,
       allComplaints: 18.31635,
       ccComplaints: 9861,
       ccRank: 14,
       accountComplaints: 15229,
       accountComplaintRank: 1,
       mortageComplaints: 40880,
       mortageRank: 2,
       complaintAssets: 0.0414629652,
       totalAssets: 1705928
     },
     {
       num: 79,
       bank: "Ocwen Loan Servicing LLC",
       totalComplaints: 24487,
       allComplaints: 6.71195,
       ccComplaints: 6,
       ccRank: 34,
       accountComplaints: 62,
       accountComplaintRank: 65,
       mortageComplaints: 24385,
       mortageRank: 1,
       complaintAssets: 3.087115482,
       totalAssets: 7932
     }
    ]